<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi ?>
  <Product Id="*" Name="$(var.ProductMainName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.ManufacturerName)" UpgradeCode="$(var.UpgradeGuid)">
		<Package Manufacturer="$(var.ManufacturerName)" InstallerVersion="301" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductMainName) is already installed." />
    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		<Feature Id="ProductFeature" Title="$(var.ProductMainName)" Level="1">
      <ComponentGroupRef Id="Components" />
      <ComponentGroupRef Id="Environment" />
      <ComponentGroupRef Id="StartMenuShortcut" />
      <ComponentGroupRef Id="DesktopShortcut" />
		</Feature>

    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.7. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 >= "#460798")]]>
    </Condition>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <WixVariable Id="WixUILicenseRtf" Value="Resources\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Resources\Dialog.bmp"/>

    <Icon Id="Converter.ico" SourceFile="..\Converter.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Converter.ico" />

    <UI>
      <UIRef Id="CustomWixUI_InstallDir" />
    </UI>
  </Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.myProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="$(var.myProductDir)">
          <Directory Id="CMDFOLDER" Name="Cmd" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
      <Directory Id="DesktopFolder">
      </Directory>
    </Directory>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="Environment" Directory="CMDFOLDER">
      <Component Id="PathForCli" Guid="6C529FE1-87B0-43E4-B626-CFD054AD5919">
        <Environment Id="CmdPath" Name="PATH" Value="[CMDFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
        <CreateFolder/>
      </Component>
      <Component Id="BatForCli" Guid="EBF043BB-F332-463D-AED2-10C6C14E832B">
        <File Id="BatForCli" KeyPath="yes" Source="..\..\dpl\gsd2aml.bat"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="StartMenuShortcut" Directory="ProgramMenuFolder">
      <Component Id="GuiStartMenuShortcut" Guid="21CB1FC1-C555-4B11-92D1-91AD4B95B9C9">
        <Condition>WIXUI_CREATESTARTMENUSHORTCUT</Condition>
        <Shortcut Id="GuiStartMenuShortcut" Name="GSD2AML Converter"
                  Target="[#Gsd2Aml.Gui.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\GSD2AML Converter" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="DesktopShortcut" Directory="DesktopFolder">
      <Component Id="GuiDesktopShortcut" Guid="2D0A481A-8BD1-407F-B308-619514BEDFBE">
        <Condition>WIXUI_CREATEDESKTOPSHORTCUT</Condition>
        <Shortcut Id="GuiDesktopShortcut" Name="GSD2AML Converter"
                  Target="[#Gsd2Aml.Gui.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\GSD2AML Converter" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
